.navBar {
    background-color: lightgray;
    text-align: center;
}

.offcanvas-body {
    padding: 0px !important;
}

.nav-linkss {
    text-decoration: none;
}

.Nav-Items {
    background-color: lightgray;
    padding: 10px 0px;
    margin-bottom: 2px;
    color: black;
}

.nav-linkss.active {
    background-color: black;
    padding: 11px 177px;
    color: white;
}

.Nav-Items a {
    color: black;
    font-weight: 800;
}

.Nav-Items:hover {
    background-color: aquamarine;
    z-index: 1;
}

@media (min-width: 350px) and (max-width: 382px) {
    .nav-linkss.active {
        background-color: black;
        padding: 11px 157px;
        color: white;
    }
}

@media (min-width: 330px) and (max-width: 350px) {
    .nav-linkss.active {
        background-color: black;
        padding: 11px 144px;
        color: white;
    }
}

@media (min-width: 300px) and (max-width: 330px) {
    .nav-linkss.active {
        background-color: black;
        padding: 11px 135px;
        color: white;
    }
}

.snab {
    position: relative;
}

.fnav {
    position: fixed;
    top: 100px;
    display: block;
    transition: top 0.3s;
    right: 0;
}